name: COPR Build on New Remote Release

on:
  #schedule:
    #- cron: '0 0 * * *'
  push:
    paths:
      - '.github/workflows/COPR Build on New Remote Release.yml'
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  check:
    runs-on: ubuntu-latest
    
    outputs:
      LOCAL_TAG: ${{ steps.check.outputs.SETLOCAL_TAG }}
      REMOTE_TAG: ${{ steps.check.outputs.SETREMOTE_TAG }} 
      TRIGGER_BUILD: ${{ steps.check.outputs.SETtrigger_build }}
    
    steps:
      - name: Checkout your repo
        uses: actions/checkout@v6

      - name: Check for new release
        id: check
        run: |
          # 1. Get the latest release tag from GitHub API
          REMOTE_TAG=$(curl -s https://api.github.com/repos/sheeki03/tirith/releases/latest | jq -r '.tag_name')
          
          # 2. Read the last built version from a local file (you need to manage this file)
          if [ -f "last_built_version" ]; then
            LOCAL_TAG=$(cat last_built_version)
          else
            LOCAL_TAG="none"
          fi
          
          echo "Latest: $REMOTE_TAG"
          echo "Last Built: $LOCAL_TAG"

          echo "SETLOCAL_TAG=$LOCAL_TAG" >> $GITHUB_OUTPUT
          
          if [ "$REMOTE_TAG" != "$LOCAL_TAG" ]; then
            echo "New version detected!"
            echo "SETREMOTE_TAG=$REMOTE_TAG" >> $GITHUB_OUTPUT
            echo "SETtrigger_build=true" >> $GITHUB_OUTPUT
          else
            echo "No new version."
            echo "SETtrigger_build=false" >> $GITHUB_OUTPUT
          fi

  build:
    needs: check
    if: needs.check.outputs.TRIGGER_BUILD == 'true'
    runs-on: ubuntu-latest
    container: fedora:latest
    steps:
      
      - name: Install tools before checkout in order to use a full git repo instead of not having .git
        run: |
          dnf install -y rust2rpm git

      - name: Checkout your repo
        uses: actions/checkout@v6

      - name: ls
        run: ls -ahl

      - name: Re-clone repo
        run: |
          rm -rf tirith || true
          git clone --depth 1 https://github.com/sheeki03/tirith tirith-clone

      - name: Make spec file
        run: |
          cd tirith-clone
          
          # Configure dummy git user for rust2rpm
          git config user.name "Builder"
          git config user.email "builder@example.com"
          
          # rust2rpm .
          rust2rpm --ignore-missing-license-files tirith

      - name: Make normal folder not submodule
        run: |
          ls -ahl
          
          ## Remove as submodule
          #git config --add safe.directory .
          #echo "Added safe.directory"

          #git status
          
          #git rm --cached tirith-clone
          #echo "Deleted cache"

          
          rm -rf tirith-clone/.git
          ls -ahl tirith-clone

      # https://docs.pagure.org/copr.copr/user_documentation.html#custom-webhook
      - name: Trigger COPR Build
        run: |
          # https://copr.fedorainfracloud.org/webhooks/custom/<ID>/<UUID>/<PACKAGE_NAME>/
          curl -X POST ${{ secrets.COPR_WEBHOOK }}

      - name: Upload files as artifacts for non-container job
        uses: actions/upload-artifact@v4
        with:
          name: repo_and_spec_file
          path: tirith-clone

      
  commit:
    needs:
      - check
      - build
    if: needs.check.outputs.TRIGGER_BUILD == 'true'
    runs-on: ubuntu-latest
    steps:

      - name: Checkout your repo
        uses: actions/checkout@v6

      - uses: actions/download-artifact@v4
        with:
          name: repo_and_spec_file
          path: tirith-clone

      - name: Save last built version
        run: |
          echo "${{ needs.check.outputs.REMOTE_TAG }}" > last_built_version
            
      - name: Update Last Built Version
        run: |
          pwd
          ls -ahl
          ls -ahl tirith-clone
      
      - name: Commit files
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "Updating to ${{ needs.check.outputs.REMOTE_TAG }}"
          #file_pattern: 
          tag_name: "${{ needs.check.outputs.REMOTE_TAG }}"
